<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">
            Inserir Novo Compromisso
          </h1>
        <hr />
      </div>

      <form [formGroup]="formCompromisso" class="mt-4">
        <div class="form-group mb-3 position-relative">
          <label class="form-label">Assunto:</label>
          <input
            [ngClass]="assunto?.touched && assunto?.invalid ? 'is-invalid' : ''"
            formControlName="assunto"
            class="form-control"
            type="text"
            placeholder="Digite o assunto do compromisso"
          />
          <div class="invalid-tooltip" *ngIf="assunto?.touched && assunto?.invalid">
            <span *ngIf="assunto?.errors?.['required']">O assunto precisa ser preenchido.</span>
            <span *ngIf="assunto?.errors?.['minlength']">O assunto deve ter no mínimo 3 caracteres.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Local:</label>
          <input
            [ngClass]="local?.touched && local?.invalid ? 'is-invalid' : ''"
            formControlName="local"
            class="form-control"
            type="text"
            placeholder="Digite o local do compromisso"
          />
          <div class="invalid-tooltip" *ngIf="local?.touched && local?.invalid">
            <span *ngIf="local?.errors?.['required']">O local precisa ser preenchido.</span>
            <span *ngIf="local?.errors?.['minlength']">O local deve ter no mínimo 3 caracteres.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Local:</label>
          <ng-select formControlName="contatoId"
            [ngClass]="(contatoId?.touched && contatoId?.invalid) ? 'is-invalid' : ''"
            [clearable]="false"
            [searchable]="false">
            <ng-option *ngFor="let tipoLocal of tiposLocal ; index as i" [value]="i" >
              {{tipoLocal}}
          </ng-option>
          </ng-select>
          <div class="invalid-tooltip" *ngIf="local?.touched && local?.invalid">
            <span *ngIf="local?.errors?.['required']">O local precisa ser preenchido.</span>
            <span *ngIf="local?.errors?.['minlength']">O local deve ter no mínimo 3 caracteres.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Link:</label>
          <input
            [ngClass]="link?.touched && link?.invalid ? 'is-invalid' : ''"
            formControlName="link"
            class="form-control"
            type="text"
            placeholder="Digite o link do compromisso"
          />
          <div class="invalid-tooltip" *ngIf="link?.touched && link?.invalid">
            <span *ngIf="link?.errors?.['required']">O link precisa ser preenchido.</span>
            <span *ngIf="link?.errors?.['minlength']">O link deve ter no mínimo 3 caracteres.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="data">Data:</label>
          <input formControlName="data"
            [ngClass]="(data?.touched && data?.invalid) ? 'is-invalid' : ''"
            class="form-control"
            type="date"
            placeholder="Digite a data do compromisso">
            <div class="invalid-tooltip" *ngIf="data?.touched && data?.invalid">
              <span *ngIf="data?.errors?.['required']" >A data do compromisso precisa ser selecionada</span>
            </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="horaInicio">Hora de Início:</label>
          <input formControlName="horaInicio"
            [ngClass]="(horaInicio?.touched && horaInicio?.invalid) ? 'is-invalid' : ''"
            class="form-control"
            type="text"
            placeholder="Digite a hora de início do compromisso">
            <div class="invalid-tooltip" *ngIf="horaInicio?.touched && horaInicio?.invalid">
              <span *ngIf="horaInicio?.errors?.['required']" >A hora de início do compromisso precisa ser selecionada</span>
            </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="horaTermino">Hora de Termino:</label>
          <input formControlName="horaTermino"
            [ngClass]="(horaTermino?.touched && horaTermino?.invalid) ? 'is-invalid' : ''"
            class="form-control"
            type="text"
            placeholder="Digite a hora de termino do compromisso">
            <div class="invalid-tooltip" *ngIf="horaTermino?.touched && horaTermino?.invalid">
              <span *ngIf="horaTermino?.errors?.['required']" >A hora de início do compromisso precisa ser selecionada</span>
            </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="contatoId" class="form-label">Contato:</label>
          <ng-select formControlName="contatoId"
            [ngClass]="(contatoId?.touched && contatoId?.invalid) ? 'is-invalid' : ''"
            [clearable]="false"
            [searchable]="false">
            <ng-option
              *ngFor="let contato of (contatos$ | async)"
              [value]="contato.id">
              {{ contato.nome }}
            </ng-option>
          </ng-select>
          <div class="invalid-tooltip" *ngIf="contatoId?.touched && contatoId?.invalid">
            <span *ngIf="contatoId?.errors?.['required']" >O contato precisa ser selecionado</span>
          </div>
        </div>

        <div class="card-footer g-grid d-flex gap-1 mt-5">
          <button (click)="gravar()"
            type="button" class="btn btn-primary px-5">
            <i class="pi pi-save me-2"></i>
            Gravar
          </button>
          <button routerLink="/compromissos/listar"
            type="button" class="btn btn-outline-primary px-5">
            <i class="pi pi-arrow-left me-2"></i>
            Voltar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
